[submodule "shadow"]
	path = shadow
	url = https://github.com/kaistshadow/shadow
[submodule "external/bitcoin/0.19.1dev"]
	path = external/bitcoin/0.19.1dev
	url = https://github.com/kaistshadow/bitcoin.git
[submodule "external/go-ethereum/1.9.1dev"]
	path = external/go-ethereum/1.9.1dev
	url = https://github.com/kaistshadow/go-ethereum
[submodule "external/monero/dev_0.16.0"]
	path = external/monero/dev_0.16.0
	url = https://github.com/kaistshadow/monero.git